.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item img{
  max-width: 280px;
  max-height: 560px;
}

.item h4{
  margin-bottom: 2em;
}

.item p{
  margin-top: 2em;
  font-weight: bolder;
}

