.header-banner{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 3em;
  border-style: dashed;
  border-left: none;
  border-right: none;
}

.header-banner h1{
  font-size: 5vh; 
}

.header-banner img{
  content: url('https://img.icons8.com/?size=512&id=QVQY51sDgy1I&format=png');
  width: 32px;
  height: 32px;
}

.display{
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;  
  grid-template-columns: repeat(4, 17vw);
  grid-template-rows:  repeat(3, 25vh);
  max-width: 70vw;
  max-height: 70vh;
  position: relative;
  top: 1vh;
  left: 17vw
}
