body{
  width: 100vw;
  height: 100vh;
  background-image: url('../img/store-background.jpg');
  background-color: white;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header-banner{
  display: flex;
  flex-direction: row ;

}

.display{
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;  
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows:  repeat(3, 20vh);
  padding: 7vh 15vw;
}
