.header-banner{
  display: flex;
  flex-direction: row ;

}

.display{
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;  
  grid-template-columns: repeat(4, 17vw);
  grid-template-rows:  repeat(3, 25vh);
  max-width: 70vw;
  max-height: 70vh;
  position: relative;
  top: 10vh;
  left: 10vw
}
